.modal-img img {
  width: 400px;
  height: 400px;
  border-radius: 30px;
}

img {
  display: block;
  cursor: pointer;
}

.product-container {
  max-width: 540px;
  border-radius: 20px;
}

.modal_active {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0 0 0 5000px rgb(0 0 0 / 75%);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  max-width: 100%;
}

.modal-wrapper {
  position: relative;
}

.close-modal {
  color: #fff;
  position: absolute;
  top: -40px;
  right: 0;
  font-size: 35px;
  cursor: pointer;
}

.close-modal:hover {
  color: var(--orange);
}

.next {
  position: absolute;
  top: 35%;
  right: -25px;
  background-color: white;
  border-radius: 50%;
  padding: 20px;
}

.previous {
  position: absolute;
  top: 35%;
  left: -25px;
  background-color: white;
  border-radius: 50%;
  padding: 20px;
}

.modal-container .selected {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  border-radius: 20px;
  /* box-shadow: 0 0 0 5000px rgb(0 0 0 / 75%); */
}

.modal-container .thumbnails {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
}

.modal-container .thumbnails img {
  width: 100px;
  height: 100px;
  margin: 5px 0;
  border-radius: 10px;
}

.modal-container .thumbnails img:focus {
  border: 10px solid black;
}

.active {
  border: 3px solid var(--orange);
  opacity: 0.7;
}

@media (max-width: 768px) {
  .modal_active {
    display: none;
  }
}
