li {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 20px 10px;
  width: 100%;
}

li img {
  height: 100%;
  width: 100px;
  object-fit: cover;
}

.cart_desc {
  display: flex;
  flex-direction: column;
}

.cartSpan {
  margin: 0 15px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.cartSpan span {
  font-weight: 700;
}

.cartSpan img {
  width: 15px;
  height: 15px;
  margin-left: 110px;
}

.cart_btn {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px 0;
}

.btn_checkout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  background-color: var(--orange);
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  border: none;
  margin: 15px 0;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}
